<h1>Products</h1>

<p> <%= link_to "Add new Product", new_product_path %></p>

<table border="1" cellspacing="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= link_to "Edit", edit_product_path(product) %></td>
      <td><%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are You sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>